/*
 * Legal Disclaimer
 * These web fonts are licensed exclusively for use on the following:
 * Domains belonging to Johnson&Johnson
 *
 * It is strictly forbidden to download or use these fonts on any other website domain or media.
 *
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2018
 */

/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The fonts folder(s) should be placed relative to the regular CSS file.
 *
 */

/* Light 300*/
@font-face {
  font-family: 'J&J CircularTT';
  font-display: auto;
  font-weight: 300;
  src: url('@/fonts/J&J CircularTT-Light.eot');
  src: local('J&J CircularTT-Light'),
    url('@/fonts/J&J CircularTT-Light.woff2') format('woff2'),
    url('@/fonts/J&J CircularTT-Light.woff') format('woff');
}

@font-face {
  font-family: 'J&J CircularTT';
  font-display: auto;
  font-weight: 300;
  font-style: italic;
  src: url('@/fonts/J&J CircularTT-LightItalic.eot');
  src: url('@/fonts/J&J CircularTT-LightItalic.woff2') format('woff2'),
    url('@/fonts/J&J CircularTT-LightItalic.woff') format('woff');
}

/* Regular 400*/
@font-face {
  font-family: 'J&J CircularTT';
  font-display: auto;
  font-weight: 400;
  src: url('@/fonts/J&J CircularTT-Book.eot');
  src: local('J&J CircularTT'),
    url('@/fonts/J&J CircularTT-Book.woff2') format('woff2'),
    url('@/fonts/J&J CircularTT-Book.woff') format('woff');
}

@font-face {
  font-family: 'J&J CircularTT';
  font-display: auto;
  font-weight: 400;
  font-style: italic;
  src: url('@/fonts/J&J CircularTT-BookItalic.eot');
  src: url('@/fonts/J&J CircularTT-BookItalic.woff2') format('woff2'),
    url('@/fonts/J&J CircularTT-BookItalic.woff') format('woff');
}

/* Medium 500*/
@font-face {
  font-family: 'J&J CircularTT';
  font-display: auto;
  font-weight: 500;
  src: url('@/fonts/J&J CircularTT-Medium.eot');
  src: url('@/fonts/J&J CircularTT-Medium.woff2') format('woff2'),
    url('@/fonts/J&J CircularTT-Medium.woff') format('woff');
}

@font-face {
  font-family: 'J&J CircularTT';
  font-display: auto;
  font-weight: 500;
  font-style: italic;
  src: url('@/fonts/J&J CircularTT-MediumItalic.eot');
  src: url('@/fonts/J&J CircularTT-MediumItalic.woff2') format('woff2'),
    url('@/fonts/J&J CircularTT-MediumItalic.woff') format('woff');
}

/* 700 Bold */
@font-face {
  font-family: 'J&J CircularTT';
  font-display: auto;
  font-weight: 700;
  src: url('@/fonts/J&J CircularTT-Bold.eot');
  src: url('@/fonts/J&J CircularTT-Bold.woff2') format('woff2'),
    url('@/fonts/J&J CircularTT-Bold.woff') format('woff');
}

@font-face {
  font-family: 'J&J CircularTT';
  font-display: auto;
  font-weight: 700;
  font-style: italic;
  src: url('@/fonts/J&J CircularTT-BoldItalic.eot');
  src: url('@/fonts/J&J CircularTT-BoldItalic.woff2') format('woff2'),
    url('@/fonts/J&J CircularTT-BoldItalic.woff') format('woff');
}

/* 800 Extra Bold, bolder */
@font-face {
  font-family: 'J&J CircularTT';
  font-display: auto;
  font-weight: 800;
  src: url('@/fonts/J&J CircularTT-Black.eot');
  src: url('@/fonts/J&J CircularTT-Black.woff') format('woff'),
    url('@/fonts/J&J CircularTT-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'J&J CircularTT';
  font-display: auto;
  font-weight: 800;
  font-style: italic;
  src: url('@/fonts/J&J CircularTT-BlackItalic.eot');
  src: url('@/fonts/J&J CircularTT-BlackItalic.woff2') format('woff2'),
    url('@/fonts/J&J CircularTT-BlackItalic.woff') format('woff');
}

/* @font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-display: auto;
  src: url('@/fonts/Roboto-Light.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-display: auto;
  src: url('@/fonts/Roboto-Medium.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
} */
